* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --metallic-gradient: linear-gradient(135deg, #a0a0a0, #e0e0e0, #a0a0a0);
}

.metallic {
  background: var(--metallic-gradient);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}

.background-dark {
  background-color: #000;
}
